[Desktop Entry]
Encoding=UTF-8
Name=Link para hosting - How to host a reveal.js presentation - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/31163633/how-to-host-a-reveal-js-presentation
Icon=text-html
